.dialogs{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 80% 20%;
}

.dialogsItems{
    padding: 10px;
    grid-area: 1/1/2/1;
}

.dialogsItems img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.dialogsItems .active{
    color: gold;
}

.message{
    padding: 10px;
    grid-area: 1/2/1/2;
}

.messageTextArea{
    grid-area: 2/2/2/2;
}

.messageTextArea textarea{
    width: 47%;
    height: 10%;
    position: fixed;
    resize: none;
}

.messageTextArea button {
    float: right;
    width: 10%;
    position: fixed;
    margin-left: 48%;
    height: 11%;
}





